@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.App{
    width: 100%;
    height: 100%;
    background: #f4f4f4;
    overflow-y: scroll;
}
.small-ratings i{
    color:#fbc634;
    margin-right: 5px;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #7c7c7c;
}
.cart-product:hover {
    transform: translateY(-5px);
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.name-product{
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; 
    display: -webkit-box;
}

.list-card::-webkit-scrollbar {
    width: 8px;
}

.list-card::-webkit-scrollbar-track {
    border: 2px solid #cfcfcf;
    background-color: #ffffff;
    border-radius: 5px;
}

.list-card::-webkit-scrollbar-thumb {
    background-color: #7c7c7c;
    border-radius: 5px;
}
#chat4 .form-control {
    border-color: transparent;
}
    
#chat4 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
}
    
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.skeleton{
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: #DDDBDD;
}
.skeleton::after{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0)
    );
    animation: shimmer 1.75s infinite;
    content: '';
}
@keyframes shimmer {
    100% {
            transform: translateX(100%);
        }
}
.act-price{color:red;font-weight: 700}
.dis-price{text-decoration: line-through}
.about{font-size: 14px}
.color{margin-bottom:10px}
label.radio{cursor: pointer}
label.radio input{
    position: absolute;top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}
label.radio span{
    padding: 2px 9px;
    border: 2px solid #6c757d;
    display: inline-block;
    color: #6c757d;
    border-radius: 3px;
    text-transform: uppercase;
    margin-right: 10px;
}
label.radio input:checked+span{
    border-color: #6c757d;
    background-color: #6c757d;
    color: #fff
}
